<p></p>
<h3 style="color: blueviolet; text-align: justify;"> <u>Employee Details : </u> </h3>

<div class="container-fluid" style="background-color: aqua; text-align: justify">
    <br>
    <div>
        <label style="color: rgba(85, 38, 5, 0.815); " ><b> First Name : </b></label>    {{employee.firstName}}
    </div>
    <br>
    <div>
        <label style="color: rgba(85, 38, 5, 0.815);"> <b> Last Name : </b> </label>    {{employee.lastName}}
    </div>
    <br>
    <div>
        <label style="color: rgba(85, 38, 5, 0.815)"> <b> Email Id : </b> </label>    {{employee.emailId}}
    </div>
    <br>
</div>